/*

Darko Bunic
http://www.redips.net/
Jan, 2011.

*/

body {
	font-family: arial;
	margin: 0px; /* for IE6 / IE7 */
}

/* make drag container visible */
#redips-drag {
	border: 2px dashed LightBlue;
	display: table;
}

/* needed for IE because cursor "move" shown on radio button and checckbox ?! */
div#redips-drag input{
	cursor: auto;
}

/* table */
div#redips-drag table {
	background-color: #eee;
	border-collapse: collapse;
	margin: 7px;
}

/* table cells */
div#redips-drag td {
	border: 1px solid navy;
	height: 100px;
	text-align: center;
	font-size: 17pt;
	padding: 2px;
}

/* drag object (DIV inside table cell) */
.redips-drag {
	margin: auto;
	margin-bottom: 1px;
	margin-top: 1px;
	text-align: center;
	width: 87px;
	height: 25px;
	line-height: 25px;
	border: 2px solid SteelBlue;
	background-color: white;
	/* round corners */
	border-radius: 4px; /* Opera, Chrome */
	-moz-border-radius: 4px; /* FF */
}
	/* checkbox inside DIV element */
	.redips-drag input{
		float: right;
		margin: 0px 0px auto auto;
	}
