/*

Darko Bunic
http://www.redips.net/
Apr, 2017.

*/

body {
	font-family: arial;
	margin: 0px;
}

/* make drag container visible */
#redips-drag {
	border: 2px dashed LightBlue;
	display: table;
}

/* table */
div#redips-drag table {
	background-color: #eee;
	border-collapse: collapse;
	margin: 7px;	
}

/* table cells */
div#redips-drag td {
	border: 1px solid navy;
	height: 50px;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}

/* drag object (DIV inside table cell) */
.redips-drag {
	margin: auto;
	text-align: center;
	width: 87px;
	height: 35px;
	line-height: 35px;
	border: 2px solid SteelBlue;
	background-color: white;
}

/* "Load" button (needed for AJAX version) */
.button {
	margin: 10px;
	background-color: #6A93D4;
	color: white; 
	border-width: 1px;
	width: 44px;
	padding: 0px;
}