/*

Darko Bunic
http://www.redips.net/
Aug, 2011.

*/

body {
	font-family: arial;
	margin: 0px; /* for IE */
}


/* drag container */
#main_container {
	margin: auto;
	width: 870px;
}
		/* container for the left table */
		#main_container #left {
			width: 200px;
			height: 110px;
			float: left;
			margin-right: 20px;
		}
		/* container for the right table */
		#main_container #right {
		  	display: table;
		    table-layout: auto;
			padding-left: auto;
			padding-right: 0px;
			/* align div to the right */
			margin-left: auto;
		}


/* drag objects (DIV inside table cells) */
.redips-drag {
	cursor: move;
 	margin: auto;
	z-index: 10;
	background-color: CornflowerBlue;
	/* setting z-index and opacity were messing things up (dragged DIV element goes below element in lower rows) */
	/* http://stackoverflow.com/questions/2816780/div-popup-inside-td */
/* 	opacity: 0.7; */
/* 	filter: alpha(opacity=70); */
	padding-top: 20px; /* height of drag handle */
	width: 195px;
	height: 120px;
}
	/* set each TD in mini-table as nodrag */
	.redips-nodrag {
		cursor: default;
		font-size: 15pt;  /* needed for cloned object */
		background-color: white;
		height: 30px;
	}


/* mini table */
table#mini {
	margin: 0px;
	border: 0px;
	width: 195px;
}
	table#mini td {
		border: 1px CornflowerBlue solid;
		height: 39px;
	}


/* tables */
div#redips-drag table {
	background-color: #eee;
	border-collapse: collapse;
}
		/* timetable */
		div#redips-drag #table2 {
			/* align table to the right */
			margin-left: auto;
		}


/* table cells for table1 and table2 */
#table1 td,
#table2 td,th {
	border-style: solid;
	height: 150px;
	padding: 0px;
}
		/* left table - td */
		#table1 td {
			border-width: 0px 0px 1px 0px;
			border-color: white;
		}
		
		/* right table - td */
		#table2 td {
			border: 2px #DDC5B5 solid;
		}



/* last row and last column without border */
.noborder {
	border-width: 0px;
}


/* blank cells (upper left corner) */
.blank {
	background-color: white;
}


/* message line */
#message {
	color: white;
	background-color: #aaa;
	text-align: center;
	margin-top: 10px;
}


/* dark cells (first column and table header) */
.dark {
	color: #444;
	background-color: #e0e0e0;
}

/* circle */
.circle {
	width: 28px;
	height: 28px;
	text-align: center;
	padding-top: 0px;
	/* round corners */
	border-radius: 20px; /* Opera, Chrome */
	-moz-border-radius: 20px; /* FF */
	background-color: #FFA15C;
}

/* trash cell */
.redips-trash {
	color: white;
	background-color: CornflowerBlue;
	text-align: center;
	font-size: 12pt;
}
