/*

Darko Bunic
http://www.redips.net/
Nov, 2009.

*/

body{
	font-family: arial;
	margin: 0px; /* for IE6 / IE7 */
}


/* add bottom margin between tables */
#table1,
#table2{
	margin-bottom: 20px;
}


/* drag container */
#drag{
	margin: auto;
	width: 530px;
}

/* set border for images inside DRAG region - exclude image margin inheritance */
/* my WordPress theme had some funny margin settings */
#drag img {
	margin: 1px;
}

/* drag objects (DIV inside table cells) */
.drag{
	cursor: move;
	margin: auto;
	margin-bottom: 1px;
	margin-top: 1px;
	z-index: 10;
	background-color: white;
	text-align: center;
	font-size: 10pt; /* needed for cloned object */
	opacity: 0.7;
	filter: alpha(opacity=70);
	/* without width, IE6/7 will not apply filter/opacity to the element ?! */
	/* IE needs element layout */
	width: 87px;
	/* round corners */
	border-radius: 4px; /* Opera, Chrome */
	-moz-border-radius: 4px; /* FF */
}


/* drag objects border for the first table */
.t1 {border: 2px solid #499B33;}
/* drag object border for the second table */
.t2 {border: 2px solid #2D4B7A;}
/* cloned objects - third table */
.t3 {border: 2px solid #BF6A30;}
/* allow / deny access to cells marked with 'mark' class name */
.mark{color: white; background-color: #9B9EA2;}
/* trash cell */
.trash{color: white; background-color: #2D4B7A;}

/* tables */
div#drag table{
	background-color: #e0e0e0;
	border-collapse: collapse;
}


/* needed for IE6 because cursor "move" shown on radio button and checckbox ?! */
div#drag input{
	cursor: auto;
}


/* table cells */
div#drag td{
	height: 32px;
	border: 1px solid white;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}


/* "Click" button */
.button{
	background-color: #6A93D4;
	color: white; 
	border-width: 1px;
	width: 40px;
	padding: 0px;
}


/* toggle checkboxes at the bottom */
.checkbox{
	margin-left: 13px;
	margin-right: 14px;
	width: 13px; /* needed for IE ?! */
}


/* button message */
.message_line{
	padding-left: 10px;
	margin-bottom: 3px;
	font-size: 10pt;
	color: #888;
}
