/*

Darko Bunic
http://www.redips.net/
Apr, 2011.

*/

body {
	font-family: arial;
	margin: 0px;
}

/* make drag containers visible */
#redips-drag,
#buttons {
	border: 2px dashed LightBlue;
	width: 580px;
	padding: 10px;
	margin: 10px auto;
}

/* button area above tables */
#buttons {
	text-align: left;
	border-color: white;
	padding-bottom: 0px;
}
	/* space between form elements above table */
	#buttons span {
		margin-right: 10px;
	}

/* set border-collapse for tables */
table {
	border-collapse: collapse;
	width: 580px;
}

/* set table row height */
table tr {
	height: 32px;
}

/* table cells */
td {
	/* IE8 BUG - applying alpha filter on TD will overwrite TD border - thank you MicroSoft for tearing my hair :P */
	/* I also tried with outline and that was fine, but Opera11 place high zIndex to outline grid and that looks wierd */
	/* so, I paint TR to white with JavaScript and applying aplha filter to table content (DIV elements) */
	border: 1px solid white;
	height: 22px;
}

/* table titles */
th {
	font-size: 14pt;
}

/* drag object (DIV inside table cell) */
.redips-drag {
	margin: auto;
	margin-bottom: 1px;
	margin-top: 1px;
	text-align: center;
	font-size: 8pt;
	width: 63px;
	height: 18px;
	line-height: 18px;
	border-width: 2px;
	border-style: solid;
	background-color: white;
	/* round corners */
	border-radius: 4px; /* Opera, Chrome */
	-moz-border-radius: 4px; /* FF */
}

/* orange DIV elements */
.orange {
	border-color: #FF8A58;
}

/* blue DIV elements */
.blue {
	border-color: LightBlue;
}


/* row dark */
.rd {
	background-color: #ddd;
}

/* row light */
.rl {
	background-color: #e6e6e6;
}

/* blue button */
.button {
	color: white;
	background-color: #6B8AA3;
	border-width: 1px;
	/* round corners */
	border-radius: 5px; /* Opera, Chrome */
	-moz-border-radius: 5px; /* FF */
}


/* instructions below left table */
.instructions {
	width: 580px;
	margin-top: 15px;
	color: #555;
	font-size: 11px;
	text-align: justify;
}