/*

Darko Bunic
http://www.redips.net/
Apr, 2017.

*/

body {
	font-family: arial;
	margin: 0px; /* for IE6 / IE7 */
}

/* make drag container visible */
#redips-drag {
	border: 2px dashed LightBlue;
	display: table;
}

/* tables */
div#redips-drag table {
	background-color: #f8f8f8;
	border-collapse: collapse;
	margin: 10px;	
}

	/* nested tables level 1 */
	div#redips-drag .nested_table1 {
		background-color: #e0e0e0;
		margin: 7px auto;
	}
	/* nested tables level 2 */
	div#redips-drag .nested_table2 {
		background-color: #ccc;
		margin: 7px auto;
	}
	/* nested tables level 3 */
	div#redips-drag .nested_table3 {
		background-color: #aaa;
		margin: 7px auto;
	}

/* table cells */
div#redips-drag td {
	border: 1px solid navy;
	height: 40px;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}

/* drag object (DIV inside table cell) */
.redips-drag {
	margin: auto;
	margin-bottom: 1px;
	margin-top: 1px;
	text-align: center;
	width: 27px;
	height: 27px;
	border: 2px solid SteelBlue;
	background-color: SteelBlue;

}

/* message */
.message {
	color: grey;
	font-size: 14px;
}

/* circle */
.circle {
	/* round corners */
	border-radius: 20px; /* Opera, Chrome */
	-moz-border-radius: 20px; /* FF */
}

/* square */
.square {
}

/* triangle */
.triangle {
    width: 0px;
    height: 0px;
    border-top: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid SteelBlue;
    background-color: transparent;
}